<script type="text/template" id="add_address_template">
<h1>Add New Address</h1>
<form>
    <div>
        <table>

            <tr>
                <td><select name="locality">
                    <option value="">Select Locality</option>
                </select></td>
            </tr>
            <tr>
                <td><select name="city">
                    <option value="">Select City</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="text" name="complete_address" placeholder="Complete Address"></td>
            </tr>
            <tr>
                <td><select name="locality">
                    <option value="">Select Address Type</option>
                </select></td>
            </tr>
        </table>
    </div>
    <input type="submit" value="Submit">
</form>

</script>

