{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Restaurant App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <!-- endbuild -->
    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/menu">Menu</a></li>
          <li><a href="#/booking">Book</a></li>
          <li><a href="#/informations">informations</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="appview">
  </div>


  <script type="text/template" id="available_delivery_boy_template">
      <option value="<%=id%>" <%=(agent.name==selected_name)?'selected':''%>><%=agent.name%></option>
  </script>

  <script type="text/template" id="order_list_detail_template">
      <tr class="success" id="order_id_<%=id%>">
          <td><%=id%></td>
          <td><%=customer.name%><br><%=customer.primary_number%></td>
          <td><%=restaurant.address%></td>
          <td>
              <select class="order_list_status form-control" data-id="<%=id%>">
                  <option value="awaiting_confirmation" <%=(status=='awaiting_confirmation')?'selected':''%>>Awaiting Confirmation</option>
                  <option value="confirmed" <%=(status=='confirmed')?'selected':''%>>Confirmed</option>
                  <option value="assigned" <%=(status=='assigned')?'selected':''%>>Assigned</option>
                  <option value="ready" <%=(status=='ready')?'selected':''%>>Arrived</option>
                  <option value="pick_up" <%=(status=='pick_up')?'selected':''%>>Picked Up</option>
                  <option value="delivered" <%=(status=='delivered')?'selected':''%>>Delivered</option>
              </select>
          </td>
          <td><%=placed_since%></td>
          <td><%=expected_delivery_time%></td>
          <td>
              <select class="available_delivery_boy form-control">
              </select>
          </td>
          <td><a class="order_list_link" href="<%=link%>"><%=link%></a></td>
      </tr>
  </script>

  <script type="text/template" id="order_list_template">
      <thead id="order_list_header">
      <tr>
          <th>Order Id</th>
          <th>Customer</th>
          <th>Restraunt</th>
          <th>Status</th>
          <th>Placed Since(Min)</th>
          <th>ETA</th>
          <th>Delivery Boy</th>
          <th>Link</th>
      </tr>
      </thead>
      <tbody id="order_list_detail">
      </tbody>
  </script>


  <div class="container-fluid">
    <div class="container-fluid">
      <div class="col-sm-12">

          <div class="col-sm-12" id="customer_div">
            </div>

          <div class="col-sm-12" id="address_div">
            </div>

      </div>
        <div class="col-sm-12">
        <div class="container-fluid bs-example">
            <table class="table" id="order_list">
            </table>
        </div>
        </div>
      <div class="col-sm-9">
        <div id="order_items_div">
        </div>
        <div id="order_div">

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div id="cart_div">
          
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div id="restaurant_div">
          
        </div>
      </div>
    </div>
  </div>

  <script type="text/template" id="dish_items_template">
    <div id="dish_id_<%=id%>">
      <div class="col-sm-12">
        <div class="form-horizontal">
          <div class="form-group col-sm-1">
            <label>Gravy Type:</label> <span><%=gravy_type%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Serving:</label> <span><%=serving%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Oil Content:</label> <span><%=oil_content%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Initial Cooking:</label> <span><%=initial_cooking%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Dish Variations:</label> <span><%=dish_variations%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Has Bone:</label> <span><%=has_bone%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Spicy:</label> <span><%=spicy%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Serving Sizes:</label> <span><%=serving_sizes%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Follower Dish Ids:</label> <span><%=follower_dish_ids%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Frying Type:</label> <span><%=frying_type%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Food Type:</label> <span><%=food_type%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Unit Price:</label> <span><%=unit_price%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Details:</label> <span><%=details%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Cart Category:</label> <span><%=cart_category%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Dish Variation Names:</label> <span><%=dish_variation_names%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Description:</label> <span><%=description%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Standard Dish Name:</label> <span><%=standard_dish_name%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Final Cooking:</label> <span><%=final_cooking%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Other Comments:</label> <span><%=other_comments%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Dish Name:</label> <span><%=dish_name%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is Crispy:</label> <span><%=is_crispy%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Follower Dishes:</label> <span><%=follower_dishes%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Number Of Pieces:</label> <span><%=number_of_pieces%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Quantity:</label> <span><%=quantity%></span>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="restaurant_template">
    <div id="restaurant_id_<%=id%>">
      <div class="col-sm-12">
        <h4>Restaurant Details</h4>
      </div>
      <div class="col-sm-12">
        <div class="form-horizontal">
          <div class="form-group col-sm-1">
            <label>minimum Delivery Order:</label> <span><%=minimum_delivery_order%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is b2b Partner:</label> <span><%=is_b2b_partner%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is b2c Partner:</label> <span><%=is_b2c_partner%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Cost For Two:</label> <span><%=cost_for_two%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Brand:</label> <span><%=brand%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Brand Name:</label> <span><%=brand_name%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is b2b Call Partner:</label> <span><%=is_b2b_call_partner%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Estimated Preparation Time:</label> <span><%=estimated_preparation_time%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Tax Rate:</label> <span><%=tax_rate%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Address:</label> <span><%=address%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is Chain:</label> <span><%=is_chain%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Food Type:</label> <span><%=food_type%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Estimated Delivery Time:</label> <span><%=estimated_delivery_time%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>nomnom Percentage:</label> <span><%=nomnom_percentage%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Nomnom Review:</label> <span><%=nomnom_review%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Locality:</label> <span><%=locality%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Coordinates:</label> <span><%=coordinates%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Closing Time:</label> <span><%=closing_time%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Opening Time:</label> <span><%=opening_time%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is b2b Delivery Partner:</label> <span><%=is_b2b_delivery_partner%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Has Special Delivery:</label> <span><%=has_special_delivery%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is Healthy:</label> <span><%=is_healthy%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>nomnom Rating:</label> <span><%=nomnom_rating%></span>
          </div>
        </div>
      </div>
        <div id="dish_items_div_<%=id%>"></div>
    </div>
  </script>

  <script type="text/template" id="cart_template">
    <div class="row">
      <div class="col-sm-12">
        <h3>Cart Details</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Appetizer</h4>
      </div>
    </div>
    <div id="appetizer_div">
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Side Dish</h4>
      </div>
    </div>
    <div id="side_dish_div">
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Main Course</h4>
      </div>
    </div>
    <div id="main_course_div">
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Dessert</h4>
      </div>
    </div>
    <div id="desserts_div">
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Beverage</h4>
      </div>
    </div>
    <div id="beverage_div">
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <input class="form-control" type="text" id="tax" value="<%=tax%>" readonly>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" id="discount" value="<%=discount%>">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" id="total_amount" value="<%=total_amount%>">
      </div>
    </div>
  </script>

  <script type="text/template" id="appetizer_template">
    <div class="row">
      <div class="col-sm-12">
          <div class="form-inline">
            <div class="form-group">
              <input class="form-control" type="text" id="dish_<%=id%>" value="<%=dish_name%>">
              <input class="form-control" type="button" id="dish_<%=id%>_minus" value="-">
              <input class="form-control" type="text" id="dish_<%=id%>_unit" value="<%=dish_unit%>">
              <input class="form-control" type="button" id="dish_<%=id%>_plus" value="+">
            </div>
          </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="side_dish_template">
    <div class="row">
      <div class="col-sm-12">
          <div class="form-inline">
            <div class="form-group">
              <input class="form-control" type="text" id="dish_<%=id%>" value="<%=dish_name%>">
              <input class="form-control" type="button" id="dish_<%=id%>_minus" value="-">
              <input class="form-control" type="text" id="dish_<%=id%>_unit" value="<%=dish_unit%>">
              <input class="form-control" type="button" id="dish_<%=id%>_plus" value="+">
            </div>
          </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="main_course_template">
    <div class="row">
      <div class="col-sm-12">
          <div class="form-inline">
            <div class="form-group">
              <input class="form-control" type="text" id="dish_<%=id%>" value="<%=dish_name%>">
              <input class="form-control" type="button" id="dish_<%=id%>_minus" value="-">
              <input class="form-control" type="text" id="dish_<%=id%>_unit" value="<%=dish_unit%>">
              <input class="form-control" type="button" id="dish_<%=id%>_plus" value="+">
            </div>
          </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="dessert_template">
    <div class="row">
      <div class="col-sm-12">
          <div class="form-inline">
            <div class="form-group">
              <input class="form-control" type="text" id="dish_<%=id%>" value="<%=dish_name%>">
              <input class="form-control" type="button" id="dish_<%=id%>_minus" value="-">
              <input class="form-control" type="text" id="dish_<%=id%>_unit" value="<%=dish_unit%>">
              <input class="form-control" type="button" id="dish_<%=id%>_plus" value="+">
            </div>
          </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="beverage_template">
    <div class="row">
      <div class="col-sm-12">
          <div class="form-inline">
            <div class="form-group">
              <input class="form-control" type="text" id="dish_<%=id%>" value="<%=dish_name%>">
              <input class="form-control" type="button" id="dish_<%=id%>_minus" value="-">
              <input class="form-control" type="text" id="dish_<%=id%>_unit" value="<%=dish_unit%>">
              <input class="form-control" type="button" id="dish_<%=id%>_plus" value="+">
            </div>
          </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="address_template">
    <div id="address_<%=id%>" class="col-sm-3">
      <div class="container-fluid">
        <div class="col-sm-12">
          <h4>Address</h4>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="form">
            <form class="form-horizontal" id="address_form">
              <div class="form-group">
                  <label for="locality_name_<%=id%>">Locality</label>
                  <select name="locality_name" class="locality_name" id="locality_name_<%=id%>" onload="load_locality()">
                      <option class="form-control" value="<%=locality.id%>"><%=locality.name%></option>
                  </select>

              </div>
              <div class="form-group">
                <label for="address_locality_city_name">
                  <input class="form-control" name="locality_city_name" type="text" id="city_name_<%=id%>" value="<%=locality.city.name%>"/>
                </label>
              </div>
              <div class="form-group">
                <label for="address_complete_address">Address:</label>
                <input class="form-control" name="complete_address" type="text" id="complete_address_<%=id%>" value="<%=complete_address%>"/>
              </div>
              <div class="form-group">
                <label for="address_type">Address Type:</label>
                <input class="form-control" name="address_type" type="text" id="address_type_<%=id%>" value="<%=address_type%>"/>
              </div>
              <input type="button" class="btn btn-success address_submit" id="address_submit_<%=id%>" name="update" value="update">
            </form>
          </div>
        </div>
      </div>
    </div>

  </script>

  <script type="text/template" id="customer_template">
    <div id="customer_id_<%=id%>">
        <div class="container-fluid">
        <div class="col-sm-12">
          <h4>User Details</h4>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="form">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="customer_name">Customer Name</label>
                <input class="form-control" type="text" id="customer_name" value="<%=name%>"/>
              </div>
              <div class="form-group">
                <label for="customer_primary_number">Primary Number</label>
                <input class="form-control" type="text" id="customer_primary_number" value="<%=primary_number%>"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </script>

  <script type="text/template" id="order_items_template">
    <div id="order_items_<%=id%>">
      <div class="container-fluid">
        <div class="col-sm-12">
          <h4>Order Item Details</h4>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="form">
            <form class="form-horizontal">
              <div class="container-fluid">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="dish_name">Dish Name</label>
                    <input class="form-control" type="text" id="dish_name" value="<%=dish_variation.dish.dish_name%>">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="standard_dish_name">Standard Dish Name</label>
                    <input class="form-control" type="text" id="standard_dish_name"
                    value="<%=dish_variation.dish.standard_dish_name%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="variety">Dish Variation</label>
                    <input class="form-control" type="text" id="variety" value="<%=dish_variation.variety%>"/>

                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input class="form-control" type="text" id="quantity" value="<%=quantity%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="unit_price_charged">Unit Price</label>
                    <input class="form-control" type="text" id="unit_price_charged" value="<%=unit_price_charged%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="total_price_charged">Total Price</label>
                    <input class="form-control" type="text" id="total_price_charged" value="<%=total_price_charged%>"/>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </script>

  <script type="text/template" id="order_template">
    <div id="order_<%=id%>">
      <div class="container-fluid">
        <div class="col-sm-12">
          <h4>Order Details</h4>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="form">
            <form class="form-horizontal">
              <div class="container-fluid">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="delivery_charges_<%=id%>">Delivery Charges</label>
                    <input class="form-control" type="text" id="delivery_charges_<%=id%>" value="<%=delivery_charges%>">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="discount_amount_<%=id%>">Discount Amount</label>
                    <input class="form-control" type="text" id="discount_amount_<%=id%>" value="<%=discount_amount%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="expected_delivery_time_<%=id%>">Expected Delivery Time</label>
                    <input class="form-control" type="text" id="expected_delivery_time_<%=id%>" value="<%=expected_delivery_time%>"/>

                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="expected_pickup_time_<%=id%>">Expected Pickup Time</label>
                    <input class="form-control" type="text" id="expected_pickup_time_<%=id%>" value="<%=expected_pickup_time%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="payment_card_<%=id%>">Payment Card</label>
                    <input class="form-control" type="text" id="payment_card_<%=id%>" value="<%=payment_card%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="payment_cash_<%=id%>">Payment Cash</label>
                    <input class="form-control" type="text" id="payment_cash_<%=id%>" value="<%=payment_cash%>"/>

                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="service_tax_<%=id%>">Service Tax</label>
                    <input class="form-control" type="text" id="service_tax_<%=id%>" value="<%=service_tax%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="special_instructions_<%=id%>">Special Instructions</label>
                    <input class="form-control" type="text" id="special_instructions_<%=id%>" value="<%=special_instructions%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="status_<%=id%>">Status</label>
                    <input class="form-control" type="text" id="status_<%=id%>" value="<%=status%>"/>

                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="total_amount_<%=id%>">Total Amount</label>
                    <input class="form-control" type="text" id="total_amount_<%=id%>" value="<%=total_amount%>"/>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="vat_tax_<%=id%>">Vat Tax</label>
                    <input class="form-control" type="text" id="vat_tax_<%=id%>" value="<%=vat_tax%>"/>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    
  </script>


  <script type="text/template" id="dish_items_template">

  <span><%=id%></span>
      <span><%=hasItems_brand_name%></span>

</script>

  <div id="dish_items_div">

  </div>

  <!-- build:js scripts/vendor.js -->
  <script src="/static/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="/static/js/underscore.js"></script>
  <script src="/static/js/backbone.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/backbone-relation.js"></script>
  <script src="http://requirejs.org/docs/release/2.1.20/minified/require.js"></script>
  <!-- endbuild -->
  <script src="/static/js/app.js"></script>
  <!-- build:js({.tmp,app}) scripts/main.js -->
  <script src="/static/js/models/models.js"></script>


  <script src="/static/js/collection/collection.js"></script>
  <script src="/static/js/views/views.js"></script>

  <script src="/static/js/router/router.js"></script>

  <!-- endbuild -->
</body>
</html>
