{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Restaurant App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>


  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/menu">Menu</a></li>
          <li><a href="#/booking">Book</a></li>
          <li><a href="#/informations">informations</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="col-sm-2">
        <div id="customer_div"></div>
        <hr>
        <div id="address_div"></div>
    </div>
    
    <div class="col-sm-10">
      <div id="order_div"></div>
    </div>
  </div>



</body>

  <script src="/static/js/jquery.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="/static/js/underscore.js"></script>
  <script src="/static/js/backbone.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/backbone-relation.js"></script>
  <script src="http://requirejs.org/docs/release/2.1.20/minified/require.js"></script>
  <script src="/static/js/pushstream.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="/static/js/app.js"></script>  
  <script src="/static/js/models/models.js"></script>
  <script src="/static/js/collection/collection.js"></script>
  <script src="/static/js/views/views.js"></script>
  <script src="/static/js/router/router.js"></script>

  
  <script type="text/template" id="customer_template">
    <div id="customer_<%=id%>">
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="form">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="customer_name">Customer Name</label>
                <input class="form-control" type="text" id="customer_name" value="<%=name%>"/>
              </div>
              <div class="form-group">
                <label for="customer_primary_number">Primary Number</label>
                <input class="form-control" type="text" id="customer_primary_number" value="<%=primary_number%>"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="address_template">
    <div id="address_<%=id%>">
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="form">
            <form class="form-horizontal" id="address_form">
              <div class="form-group hidden">
                <label for="complete_address_<%=id%>">Address:</label>
                <input class="form-control" name="complete_address_<%=id%>" type="text" id="complete_address_<%=id%>" value="<%=complete_address%>"/>
              </div>
              <div class="form-group hidden">
                <label for="address_type_<%=id%>">Address Type:</label>
                <input class="form-control" name="address_type" type="text" id="address_type_<%=id%>" value="<%=address_type%>"/>
              </div>
              <div class="form-group">
                  <label for="locality_name_<%=id%>">Locality</label>
                  <select name="locality_name" class="locality_name" id="locality_name_<%=id%>" onload="load_locality()">
                      <option class="form-control" value="<%=locality.id%>"><%=locality.name%></option>
                  </select>
              </div>
              <div class="form-group hidden">
                <label for="city_name_<%=id%>">
                  <input class="form-control" name="locality_city_name" type="text" id="city_name_<%=id%>" value="<%=locality.city.name%>"/>
                </label>
              </div>
              <input type="button" class="btn btn-success address_submit" id="address_submit_<%=id%>" name="update" value="update">
            </form>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="dish_items_template">
    <div id="dish_id_<%=id%>">
      <div class="col-sm-12">
        <div class="hidden-attributes col-sm-12 hidden">
          <div class="form-group col-sm-1">
            <label>Gravy Type:</label> <span><%=gravy_type%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Serving:</label> <span><%=serving%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Oil Content:</label> <span><%=oil_content%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Initial Cooking:</label> <span><%=initial_cooking%></span>
          </div>

          <div class="form-group col-sm-1">
            <label>Has Bone:</label> <span><%=has_bone%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Spicy:</label> <span><%=spicy%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Serving Sizes:</label> <span><%=serving_sizes%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Follower Dish Ids:</label> <span><%=follower_dish_ids%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Frying Type:</label> <span><%=frying_type%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Food Type:</label> <span><%=food_type%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Details:</label> <span><%=details%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Cart Category:</label> <span><%=cart_category%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Dish Variation Names:</label> <span><%=dish_variation_names%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Description:</label> <span><%=description%></span>
          </div>

          <div class="form-group col-sm-1">
            <label>Final Cooking:</label> <span><%=final_cooking%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Other Comments:</label> <span><%=other_comments%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Dish Name:</label> <span><%=dish_name%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Is Crispy:</label> <span><%=is_crispy%></span>
          </div>
          <div class="form-group col-sm-1">
            <label>Follower Dishes:</label> <span><%=follower_dishes%></span>
          </div>
        </div>
        <div class="visible-attributes col-sm-3"></div>
          <div class="form-group col-sm-12">
            <label>Number Of Pieces:</label> <span><%=number_of_pieces%></span>
          </div>
          <div class="form-group col-sm-12">
            <label>Quantity:</label> <span><%=quantity%></span>
          </div>
          <div class="form-group col-sm-12">
            <label>Dish Variations:</label> <span><%=dish_variations%></span>
          </div>
          <div class="form-group col-sm-12">
            <label>Standard Dish Name:</label> <span><%=standard_dish_name%></span>
          </div>
          <div class="form-group col-sm-12">
            <label>Unit Price:</label> <span><%=unit_price%></span>
          </div>
      </div>
    </div>
  </script>    

<script type="text/template" id="restaurant_template">
    <div id="restaurant_id_<%=id%>">
      <div class="col-sm-12">
        <h4><%=brand_name%></h4>
        <span><h6><%=brand%></h6></span>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="form-group col-sm-2">
            <label>minimum Delivery Order:</label> <span><%=minimum_delivery_order%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>Cost For Two:</label> <span><%=cost_for_two%></span>
          </div>   
          <div class="form-group col-sm-2">
            <label>Estimated Preparation Time:</label> <span><%=estimated_preparation_time%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>Tax Rate:</label> <span><%=tax_rate%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>Address:</label> <span><%=address%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>Is Chain:</label> <span><%=is_chain%></span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group col-sm-2">
            <label>Food Type:</label> <span><%=food_type%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>Estimated Delivery Time:</label> <span><%=estimated_delivery_time%></span>
          </div>
          
          <div class="form-group col-sm-2">
            <label>Nomnom Review:</label> <span><%=nomnom_review%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>Locality:</label> <span><%=locality%></span>
          </div>
          
          <div class="form-group col-sm-2">
            <label>Closing Time:</label> <span><%=closing_time%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>Opening Time:</label> <span><%=opening_time%></span>
          </div>
          
          <div class="form-group col-sm-2">
            <label>Is Healthy:</label> <span><%=is_healthy%></span>
          </div>
          <div class="form-group col-sm-2">
            <label>nomnom Rating:</label> <span><%=nomnom_rating%></span>
          </div>
        </div>
      </div>
        <div id="dish_items_div_<%=id%>"></div>
    </div>
  </script>

</html>