<script type="text/template" id="order_details_template">
<h1>Restaurant Details</h1>
<div>
    <table>

        <tr>
            <td>Restaurant Name</td>
            <td>Restaurant Address</td>
        </tr>
        <tr>
            <td><%=restaurant_brand_name%></td>
            <td><%=restaurant_address%></td>
        </tr>
    </table>
</div>
<h1>Order Items</h1>

<div>
    <table>
        <tr>
            <td>Dish Name</td>
            <td>Standard Dish Name</td>
            <td>Variety</td>
            <td>Quantity</td>
            <td>Unit Price Charged</td>
            <td>Total Price Charged</td>
        </tr>
        <tr>
            <td><%=order_items_dish_variation_dish_dish_name%></td>
            <td><%=order_items_dish_variation_dish_standard_dish_name%></td>
            <td><%=order_items_dish_variation_variety%></td>
            <td><%=order_items_quantity%></td>
            <td><%=order_items_unit_price%></td>
            <td><%=order_items_dish_total_price%></td>
        </tr>
    </table>
</div>


</script>