<script type="text/template" id="address_template">
<div id="address_<%=id%>" class="container-fluid">
    <div class="col-sm-12">
        <span>Address</span>
    </div>

    <div class="col-sm-12">
        <div class="form">
            <form class="form-horizontal">
{#                <div class="form-group">#}
{#                    <label for="address_locality_name">#}
{#                        <input type="text" id="address_locality_name" value="<%=locality_name%>"/>#}
{#                    </label>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="address_locality_city_name">#}
{#                        <input type="text" id="address_locality_city_name" value="<%=locality_city_name%>"/>#}
{#                    </label>#}
{#                </div>#}
                <div class="form-group">
                    <label for="address_locality_name">
                        <input type="text" id="address_complete_address" value="<%=complete_address%>"/>
                    </label>
                </div>
                <div class="form-group">
                    <label for="address_locality_name">
                        <input type="text" id="address_type" value="<%=address_type>"/>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

</script>