<script type="text/template" id="user_info_template">

<h1>Customer Info</h1>
<div>
    <table>
        <tr>
            <td>Name</td>
            <td>Primary Number</td>
        </tr>
        <tr>
            <td><%=customer_name%></td>
            <td><%=customer_primary_number%></td>
        </tr>
    </table>
</div>

</script>